Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteBase /AdminLTE/

RewriteRule ^/?$ index.php
RewriteRule ^index/?$ index.php
RewriteRule ^mail/?$ pages/mailbox/mailbox.html
ErrorDocument 404 pages/examples/404.html
